---
http_interactions:
- request:
    method: get
    uri: https://api.thedogapi.com/v1/images/search?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<DONT_EXPOSE_MY_DATA_PLEASE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu Dec 03 2020 17:56:16 GMT+0000 (Coordinated Universal Time)
      Pagination-Count:
      - '910'
      Pagination-Limit:
      - '5'
      Pagination-Page:
      - '0'
      X-Response-Time:
      - 74ms
    body:
      encoding: ASCII-8BIT
      string: '[{"breeds":[],"id":"r156pDT4m","url":"https://cdn2.thedogapi.com/images/r156pDT4m.gif","width":402,"height":317},{"breeds":[{"weight":{"imperial":"35
        - 65","metric":"16 - 29"},"height":{"imperial":"23 - 28","metric":"58 - 71"},"id":213,"name":"Saluki","bred_for":"Coursing
        gazelle and hare","breed_group":"Hound","life_span":"12 - 14 years","temperament":"Aloof,
        Reserved, Intelligent, Quiet"}],"id":"6jNaXEFxv","url":"https://cdn2.thedogapi.com/images/6jNaXEFxv.jpg","width":1080,"height":720},{"breeds":[{"weight":{"imperial":"17
        - 23","metric":"8 - 10"},"height":{"imperial":"13.5 - 16.5","metric":"34 -
        42"},"id":222,"name":"Shiba Inu","bred_for":"Hunting in the mountains of Japan,
        Alert Watchdog","breed_group":"Non-Sporting","life_span":"12 - 16 years","temperament":"Charming,
        Fearless, Keen, Alert, Confident, Faithful"}],"id":"uAzXRozxs","url":"https://cdn2.thedogapi.com/images/uAzXRozxs.jpg","width":796,"height":796},{"breeds":[{"weight":{"imperial":"17
        - 23","metric":"8 - 10"},"height":{"imperial":"13.5 - 16.5","metric":"34 -
        42"},"id":222,"name":"Shiba Inu","bred_for":"Hunting in the mountains of Japan,
        Alert Watchdog","breed_group":"Non-Sporting","life_span":"12 - 16 years","temperament":"Charming,
        Fearless, Keen, Alert, Confident, Faithful"}],"id":"fHVBn5VTk","url":"https://cdn2.thedogapi.com/images/fHVBn5VTk.jpg","width":1080,"height":1080},{"breeds":[],"id":"_WWmAUUgU","url":"https://cdn2.thedogapi.com/images/_WWmAUUgU.jpg","width":251,"height":180}]'
  recorded_at: Thu, 03 Dec 2020 17:56:16 GMT
recorded_with: VCR 6.0.0
